body{
    background:#1D8C87;
    color: white;
}

.Datos {
    background:#1D2727;
    width: 400px;
    border: rgb(0, 3, 12) 2px solid;
    padding: 10px;
  }

.Habilidades{
    background:#1D2727;
    width: 400px;
    border: rgb(0, 3, 12) 2px solid;
    padding: 10px;
}

.Educacion{
    background:#1D2727;
    width: 400px;
    border: rgb(0, 3, 12) 2px solid;
    padding: 10px;
}

table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}